 .Coursel-img
 {
    height: 418px !important ;
    width: 100% !important;
}
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

h2{
  padding-top: 1.5rem;
}
.container{
align-items: center;
}
a{
  color: #333;
}
a:hover{
  color: #da5767;
  text-decoration: none;
}
.card{
  border: 0.40rem solid #325b83;
  top: 10%;
}
.signup.form-control{
  background-color: #f8f9fa;
  padding: 20px;
  padding: 25px 15px;
  margin-bottom: 1.3rem;
  align-items: center;
}
.signup.form-group{
    background-color: #f8f9fa;
    padding: 20px;
    padding: 25px 15px;
    margin-bottom: 1.3rem;
    align-items: center;
  }
  
.signup.form-control:focus {

    color: #000000;
    background-color: #ffffff;
    border: 3px solid #da5767;
    outline: 0;
    box-shadow: none;

}

.signup.btn{
  padding: 0.6rem 1.2rem;
  background: #da5767;
  border: 2px solid #da5767;
}
.btn-primary:hover {

    
    background-color: #df8c96;
    border-color: #df8c96;
  transition: .3s;

}
.help-block-error{
    color: red;
}
.list-container{
  border:1px solid grey;
  padding:50px;
  margin: 50px;
}
.card {
  margin: auto;
  padding: 15px;
  position: relative;
  /* border: 12px solid red; */
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0;
  border-radius: .25rem;
}
.card-groups{
  display: flex;
  flex-flow: row wrap;
}

.container {
  min-height: 660px;
}
.cart-img {
	width: 100px;
}

/* Sticky footer styles
-------------------------------------------------- */

.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f8f9fa!important;
  display: block;
  position: sticky;
  z-index: 1071;
  left: 0;
  bottom: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
  transition: top ease-in-out .3s;
  margin-top: 10px;

}

footer.footer.font-small.blue a {
  display: inline-block;
}

.link {
  cursor: pointer;
}

li.nav-item.active {
  background: #eac6ae;
  box-shadow: 0 2px 4px rgb(0 0 0 / 30%);
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
  top: 0;
  position: sticky;
  z-index: 1071;
  left: 0;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
  background: #fff;
  transition: top ease-in-out .3s;
}
.cake-container{
  display: flex;
  width: 100%;
  flex: 1;
  background: #fff;
  box-shadow: 0 2px 4px rgb(0 0 0 / 30%);
  border-radius: 4px;
  padding: 15px 20px;
  flex-direction: column;
  margin-top: 30px;
}

.wrapper {
  max-width: 1600px;
  width: 100%;
  padding: 0 35px;
  margin: 0 auto;
}
body {
  background: #efd9d9;
}

.aspectRation:hover img {
  transform: scale(1.05);
}

.card{
  box-shadow: 0 0 0 4px #efd9d942;
}
.single-cake{
  margin-top: 18px;
  padding: 10px;
  box-shadow: 0 0 0 4px #efd9d942;
}
.single-cake:hover{
  transform: translateY(-6px);
}

.breadcrumb{
  background: none;
}

.btn-pink-cake {
  background-color: #fba1a1;
  text-transform: uppercase;
  color: #ffffff;
  transition: all 0.2s ease-out;
}
.cart table{
  border: 2px solid #ddd;
}

